---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

body {
  background-color: black;
  margin: 0;

  // Prevent scrolling anywhere on the page to prevent Safari and iOS
  // showing "above" and "below" the page
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
}

#workspace {
  background-color: white;
  display: block;
}

.logo {
  display: none;
}

.shape-container {
  display: none;
}
