---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@font-face {
  font-family: "Valence Grotesque";
  src: url("/fonts/valence_grotesque-bold.eot");
  src: url("/fonts/valence_grotesque-bold.eot?#iefix") format("embedded-opentype"),
       url("/fonts/valence_grotesque-bold.woff2") format("woff2"),
       url("/fonts/valence_grotesque-bold.woff") format("woff");
  font-weight: bold;
}

body {
  font-family: "Valence Grotesque", sans-serif;
  font-weight: bold;

  background-color: black;
  margin: 0;

  // Prevent scrolling anywhere on the page to prevent Safari and iOS
  // showing "above" and "below" the page
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
}

#workspace {
  background-color: white;
  display: block;
}

.logo {
  display: none;
}

.details {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.details.is-dismissed {
  display: none;
}

.details .close {
  position: absolute;
  top: -200px;
  right: -200px;
  height: 38px;
  width: 38px;
  background: transparent url("/svg/close.svg") no-repeat scroll 0 0;
  border: none;
  cursor: pointer;
  padding: 0;
}

.details .description {
  background: black;
  position: absolute;
  top: 100%;
  left: 100%;
  overflow: auto;
  height: 100px;
  width: 100px;
  color: white;
  padding: 19px;
  box-sizing: border-box;
  font-size: 17px;
  line-height: 1.3;
  letter-spacing: 0.1em;

  label {
    display: block;
    font-size: 16px;
  }

  .site-description {
    max-width: 375px;
  }
}

.details .description .title,
.details .description .artist,
.details .description .duration {
  font-size: 32px;
  margin-bottom: 33px;
}

.shape-container {
  display: none;
}
