---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@font-face {
  font-family: "Valence Grotesque";
  src: url("/fonts/valence_grotesque-bold.eot");
  src: url("/fonts/valence_grotesque-bold.eot?#iefix") format("embedded-opentype"),
       url("/fonts/valence_grotesque-bold.woff2") format("woff2"),
       url("/fonts/valence_grotesque-bold.woff") format("woff");
  font-weight: bold;
}

@mixin regular {
  font-size: 17px;
  line-height: 1.3;
  letter-spacing: 0.1em;
}

@mixin sans {
  font-family: "Valence Grotesque", sans-serif;
}

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}

* {
  box-sizing: border-box;
}

body {
  @include sans;
  font-weight: bold;

  background-color: black;
  margin: 0;

  // Prevent scrolling anywhere on the page to prevent Safari and iOS
  // showing "above" and "below" the page
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
}

#workspace {
  background-color: white;
  display: block;
}

.logo {
  display: none;
}

.details {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.details.is-dismissed {
  display: none;
}

.details .close {
  position: absolute;
  top: -200px;
  right: -200px;
  height: 38px;
  width: 38px;
  background: transparent url("/svg/close.svg") no-repeat scroll 0 0;
  border: none;
  cursor: pointer;
  padding: 0;
}

.inset {
  @include regular;
  position: absolute;
  top: 100%;
  left: 100%;
  height: 100px;
  width: 100px;
  color: white;
  overflow: hidden;

  label {
    display: block;
    font-size: 16px;
  }

  .site-description {
    max-width: 375px;
  }
}

.description {
  padding: 19px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 38px * 3;
  left: 0;
  overflow: auto;
}

.description .title,
.description .artist,
.description .duration {
  font-size: 32px;
  margin-bottom: 33px;
}

.newsletter-form {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  label {
    display: none;
  }

  input {
    @include sans;
    @include regular;
    font-weight: bold;
    color: white;
    height: 38px * 2 - 2px;
    padding: 19px;
    border: 0;
    margin: 0;

    @include placeholder {
      color: white;
    }
  }

  .email-field {
    position: absolute;
    right: 38px * 4;
    bottom: 0;
    left: 0;
  }

  .email {
    width: 100%;
  }

  .button {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 38px * 3 - 2px;
    cursor: pointer;

    &:hover {
      background-color: white;
    }
  }
}

.shape-container {
  display: none;
}

{% for exhibition in site.posts %}
  .exhibition-{{ exhibition.title | slugify }} {
    .details,
    .description,
    .newsletter-form input {
      background-color: {{ exhibition.background }};
    }

    .newsletter-form .button:hover {
      color: {{ exhibition.background }}
    }
  }
{% endfor %}
