<form action="//shapeshapes.us12.list-manage.com/subscribe/post?u=dfd445db7b297e264a3ff2e09&amp;id=70d10d4f53" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="newsletter-form validate" target="_blank" novalidate>
  <div class="email-field">
  	<label for="mce-EMAIL">Email Address</label>
  	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Enter email to sign up for a newsletter!">
  </div>

  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
  <div style="position: absolute; left: -5000px;">
    <input type="text" name="b_dfd445db7b297e264a3ff2e09_70d10d4f53" tabindex="-1" value="">
  </div>

  <input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="button">
</form>
