<!DOCTYPE html>
<html>

  {% include head.html %}

  <body data-fill-color="{{ site.posts.first.background }}">

    {% include logo.html %}

    {% include footer.html %}

    {{ content }}

    {% include footer.html %}

    <div class="exhibition exhibition-{{ site.posts.first.title | slugify }}">
      <div class="details">
        <script src="/ps/grid.paper.js" type="text/paperscript" canvas="grid-{{ site.posts.first.title | slugify }}"></script>

        <canvas id="grid-{{ site.posts.first.title | slugify }}" data-paper-resize></canvas>

        <div class="inset">
          <div class="description">
            <div class="title">
              <label>Currently showing</label>
              Numismatics
              {{ site.posts.first.title }}
            </div>

            <div class="artist">
              <label>by</label>
              Jason Huff
              {{ site.posts.first.artist }}
            </div>

            <div class="duration">
              <label>on</label>
              January 1 &ndash; {{ site.posts.first.end_date | date: "%B %-d, %Y" }}
            </div>

            <div class="site-description">
              {{ site.description | markdownify }}
            </div>
          </div>

          {% include newsletter_form.html %}
        </div>

        <button class="close"></button>
      </div>

      <div class="shape-container">
        {{ site.posts.first.content }}
      </div>
    </div>

  </body>

</html>
