<!DOCTYPE html>
<html>

  {% include head.html %}

  <body data-fill-color="{{ site.posts.last.background }}">

    {% include logo.html %}

    {% include footer.html %}

    {{ content }}

    {% include footer.html %}

    <div class="exhibition">
      <div class="details">
        <canvas id="grid" data-paper-resize></canvas>

        <style media="screen">
          .exhibition .details {
            background-color: {{ site.posts.last.background }};
          }
        </style>
      </div>

      <div class="shape-container">
        {{ site.posts.last.content }}
      </div>
    </div>

  </body>

</html>
